
body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans Condensed","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    background: url(../Image/BgLogo/0_7c779_5df17311_orig.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}

.containet{
    min-width: 1290px;
}

.links{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 153px;
    text-transform: none;
    font-size: 14px;
    font-weight: 400;
}

.links:hover{
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.header .header-conrainer h1, h2, ul, .footer-container p{
    text-align:  center;
}

.header .header-conrainer h1{
    padding: 0;
    margin: 40px 0 20px;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 5em;
    font-weight: 700;
    line-height: normal;
}

.header .header-conrainer h2{
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 40px;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 4px;
}


.header .header-nav{
    background-color: rgba(255,255,255,0.8);
}

.header .header-nav ul li, a{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #423e3e;
    text-transform: uppercase;
}

.header .header-nav a{
    padding: 35px;
    margin-left: -5px;
    transition: all .2s ease-in-out;
}


.header .header-nav a:hover{
    color: #0a0909;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
    transition: all .2s ease-in-out;
}


/*

    main

*/


.main .main-welcome{
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    color: #423e3e;
    margin: 40px 100px 40px;
    padding: 20px;
}

.main-welcome p:first-child{
    font-size: 1.2em;
    margin-bottom: 5px;
}

.main-welcome h2{
    margin: 0;
    padding: 0 0 10px;
    text-shadow: 0 0 4px rgba(0,0,0,0.4);
    font-size: 4em;
    font-weight: 600;
    letter-spacing: .5px;
    font-family: "Josefin Slab";
    text-transform: capitalize;
}

.main-welcome .main-line{
    max-width: 300px;
}


/*
        main-products
*/



.main .main-products{
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    color: #423e3e;
    margin: 0 100px 40px;
    padding: 20px;
}

.main .main-products hr{
    width: 400px;
}

.products-card{
    display: flex;
    justify-content: space-between;
}

.products-card .card{
   width: 440px;
    background-color: #fff;
    margin: 9px;
    padding-bottom: 10px;
}

.products-card .card img{
    width: 380px;
}

/*
        main-products
*/


/*
    main-products
*/

.main .products-other{
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    color: #423e3e;
    margin: 0 100px 40px;
    padding: 20px;
}

.main .products-other hr{
    width: 400px;
}


.main .services{
    display: flex;
    justify-content: space-around;
}

.main .services img{
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 3px;
    width: 300px;
}

.main .services p{
    margin: 0;
    text-align: justify;
    padding: 10px;
    font-size: .9em;
    line-height: 1.9em;
    color: #000;
}

/*
    main-products
*/


/*

    main

*/




/*

    footer

*/


.footer .footer-container{
    background-color: rgba(255,255,255,0.8);
}

.footer .footer-container p{
    font-size: 1em;
    padding: 40px;
    color: #423e3e;
    margin: 0;
}

/*

    footer

*/